@import "resources/elements/elements.less";

.opacity {
    .opacity(0.8);
}

.no-user-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
* { margin: 0; padding: 0;}

@window-border-radius: 15px;

.rounded-top-corners {
    border-top-left-radius: @window-border-radius @window-border-radius;
    border-top-right-radius: @window-border-radius @window-border-radius;
}

.jswindow {
    position: absolute;
    width: 200px;
    height: 200px;
    .window-top {
        height:0x;
        cursor: default;
        word-wrap: break-word;
        p.window-title {
            .no-user-select;

            text-align: center;
            padding: 5px 0 5px 0;
        }
        .close-window-button {
            display: inline;
            float: right;
            padding: 5px 0 5px 0;
            width: 35px;
            text-align: center;
            b { 
                margin-right: 3px; 
                color: white; 
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
    .window-content-container {
        min-height: 20px;
        padding: 5px;
        height: 40%;
        overflow: auto;
        margin: 2px;
  }
    .window-content {
        height: 99%;
    }
    .resize-window {
        .no-user-select;
        float: right;
        cursor: move;
        position: relative;
        bottom: 20px;
        right: 0px;
        padding: 0 3px 0 6px;
    }
}

body {
    height: 300px;
    background: pink;
}


.jswindow.soft-blue {
    background: #777;
    .rounded-top-corners;
    .window-top {
        p.window-title {
            .gradient(rgba(30,87,153,1),rgba(30,87,153,1),rgba(125,185,232,0.85));
            .rounded-top-corners;
        }
        .close-window-button {
            border-top-right-radius: @window-border-radius @window-border-radius;
            border-bottom-left-radius: 10px 15px;
            .gradient(#1F1F1F,#1F1F1F,#969696);
            b {}
            &:hover {
                .gradient(#1F1F1F,lighten(color("#1F1F1F"),10%),lighten(color("#969696"),10%));
            }
        }
    }
    .window-content-container {
        background: rgba(255,255,255,0.7);
        border: 1px solid rgba(0,0,0,0.5);
    }
    .window-content {}
    .resize-window {}
}

.jswindow.plain {
    background: #BBB;
    .window-top {
        p.window-title {
            background: #333;
            color: white;
        }
        .close-window-button {
            b {}
            &:hover {}
        }
    }
    .window-content-container {
        background: rgb(255,255,255);
    }
    .window-content {}
    .resize-window {}
}

/*
.jswindow {
    .window-top {
        p.window-title {}
        .close-window-button {
            b {}
            &:hover {}
        }
    }
    .window-content-container {}
    .window-content {}
    .resize-window {}
} */