* { margin: 0; padding: 0; }

pre.prettyprint {
    font-size: 10px;
    padding: 5px;
    border: 1px dashed gray;
    background: lightgray;
}
.code {
    margin: 20px;
    width: 90%;
    margin: 0 auto;
}
#container {
    width: 800px;
    background: lightgreen;
    padding: 20px;
    box-shadow: 0 0 10px 5px purple;
}
h1#awesomeheader {
    font-family: 'Rufina', serif;
    text-shadow: 0 0 6px #000,
    4px -1px 0 #F00,
    8px -2px 0 #0F0,
    12px -3px 0 #00F;
    text-align: center;
    margin-bottom: 20px;
    color: pink;
}
#doc_container h2 {
    font-family: 'Rufina', serif;
    text-shadow: 1px 1px 0px #F00;
    font-size: 19px;
    color: yellow;
    margin-left: 60px;
    margin-top: 20px;
}
#doc_container p {
    font-family: 'Rufina', serif;
    background: rgba(0,0,0,.4);
    font-size: 14px;
    margin: 5px;
    margin-left: 20px;
    padding: 5px;
}
.setting {
    display: block;
    padding: 3px;
    margin: 10px;
    margin-top: 10px;
    background: beige;
    font-weight: bold;
    color: orange;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
}
#doc_container em {
    background: pink;
    font-weight: bold;
    padding: 0px 2px;
    color: red;
}